{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

        <div class="table px-5">
            <div class="titleCart">
                <h1>Mon panier</h1>

                Retrouver l'ensemble des produits que vous avez ajouté à votre panier.
                <hr>
    {% if cart|length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">illustration</th>
                        <th scope="col">Départ</th>
                        <th scope="col">Destination</th>
                        <th class="text-center" scope="col">Nombre de personne(s)</th>
                        <th scope="col">Prix</th>
                        <th scope="col">Total</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% set total = null %}
                    {% for product in cart %}
                    <tr>
                        <th>
                            <a title="Revenir sur la page des destinations" href="{{ path('app_products') }}"><img src="../uploads/{{ product.product.illustration }}" alt="{{ product.product.destination }}" height="50px"></a>

                        </th>
                        <td>{{ product.product.depart }}</td>
                        <td>{{ product.product.destination }}</td>

                        <td class="modif text-center">

                            <a title="Supprimer une personne" href="{{ path('decrease_cart', {'id' : product.product.id} ) }}">
                                <img src="{{ asset('build/images/Icon/moins.png') }}" width="20px" alt="Supprimer une quantité">
                            </a>
                               {{ product.quantity }}
                            <a title="Ajouter une personne" href="{{ path('add_cart', {'id' : product.product.id}) }}">
                                <img src="{{ asset('build/images/Icon/plus.png') }}" width="20px" alt="Rajouter une quantité">
                            </a>
                        </td>
                        <td>{{ (product.product.price /100)|number_format(2, ',', '') }} €</td>
                        <td>{{ ((product.product.price * product.quantity) /100)|number_format(2, ',', '') }} €</td>
                        <td class="delete" width="5%">
                            <a href="{{ path('delete_cart', {'id' : product.product.id}) }}">
                                <img src="{{ asset('build/images/Icon/delete.png') }}" width="20px" alt="Supprimer mon produit">
                            </a>

                        </td>
                    </tr>

                        {% set total = total + (product.product.price * product.quantity) %}
                    {% endfor %}

                    </tbody>
                </table>
                <div class="total text-end">
            {#      <b>Nombre de produit :</b> {{ cart|length }}<br/>#}
                    <b>Total de mon panier :</b>   {{ (total /100)|number_format(2, ',', '') }} €

                    <div class="bouton mt-5">
                        <a href="{{ path('app_account_address_add') }}" class="btn btn-success btn-block">Valider mon panier</a>
                    </div>
                </div>

            </div>
        </div>
    {% else %}

        <div class="message">
            <p><b>Votre panier est vide.  <a href="{{ path('app_products') }}">choisir une autre destination ?</a></b></p>
        </div>


    {% endif %}

{% endblock %}
