{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

    <div class="container">
        <div class="titleCart">
            <h1>Mon panier</h1>

            Retrouver l'ensemble des produits que vous avez ajouté à votre panier.
            <hr>
            {{ dump(cart) }}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Départ</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Nombre de personne(s)</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Total</th>

                </tr>
                </thead>
                <tbody>
                {% for product in cart %}
                    {{ dump(product) }}
                <tr>
                    <th>{{ product.product.depart }}</th>
                    <td>{{ product.product.destination }}</td>
                    <td>{{ product.product.quantity }}</td>
                    <td>{{ (product.product.price /100)|number_format(2, ',', '') }} €</td>
                    <td>total</td>
                </tr>
                {% endfor %}
{#                <tr>#}
{#                    <th scope="row">2</th>#}
{#                    <td>Jacob</td>#}
{#                    <td>Thornton</td>#}
{#                    <td>@fat</td>#}
{#                </tr>#}
{#                <tr>#}
{#                    <th scope="row">3</th>#}
{#                    <td>Larry the Bird</td>#}
{#                    <td>Rajout</td>#}
{#                    <td>@twitter</td>#}
{#                </tr>#}
                </tbody>
            </table>

        </div>
    </div>




{% endblock %}
