{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section id="home">
        <div class="formLogin"  class="w-100 h-100 d-flex justify-content-center align-items-center">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">deconnexion</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>
                <hr>
                <label for="inputEmail">Votre email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Votre adresse email" autocomplete="email" required autofocus>
                <br><br>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Veuillez saisir votre mot de passe" autocomplete="current-password" required>
                <a href="{{ path('app_forgot_password_request') }}" class="fs-6">Mot de passe oublié</a>
                <br><br>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
                #}

                <button class="btn btn-lg btn-primary btn-sm" type="submit" href="{{ path('app_account') }}">
                    se connecter
                </button>
            </form>
        </div>
    </section>

{% endblock %}
