{% extends 'base.html.twig' %}


{% block body %}
    <section id="home"></section>
    <div id="a-propos">
        <h1 class="title">à propos</h1>
        <div class="film">
            <div class="left">
{#                <video width="380" height="290" controls>#}
                    <iframe width="400" height="250" src="https://www.youtube.com/embed/JtsHzesQem4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

{#                </video>#}
            </div>
            <div class="right">
                <h3>Ambassadeur du voyageur, nous allons de part le monde vous dénicher ce qui peut vous faire rêver.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ipsam officiis atque, doloremque eos reprehenderit deleniti ipsum dicta aliquid .</p>
                <a href="#">Details</a>
            </div>
        </div>
    </div>


    <div id="popular-destination">
        <h1>Nos différents services</h1>

        <h1 class="title">Faites votre choix</h1>
        <div class="content-grille">
            <!-- box -->
            <div class="box">
                <img src= "{{ asset('build/images/vol.png') }}" alt="Porposition de vols">
                                "{{ asset('images/image.jpg') }}"
                <div class="content">
                    <div>
                        <h4>vol</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="{{ path('app_products') }}">Détails</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="{{ asset('build/images/sejour.png') }}" alt="Consultation de différent sejour">
                <div class="content">
                    <div>
                        <h4>Séjour</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="#">Lire Plus</a>
                    </div>
                </div>
            </div>
            <!-- box -->
            <!-- box -->
            <div class="box">
                <img src="{{ asset('build/images/hotel.png') }}" alt="Pour une consultation d'hotel.">
                <div class="content">
                    <div>
                        <h4>Voyage personnalisé</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p>Ea iusto ipsa repudiandae amet conseq.</p>
                        <br><br>
                        <a href="#">Lire Plus</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}