{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <section id="home">
        <div class="formulaire">
            <h1 class="m-5">Inscription</h1>
            <div class="card col-md-6 opacity-75">

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {{ form_start(registrationForm) }}

                    <div class="row">
                        <div class="col-6">{{ form_row(registrationForm.lastname) }}</div>
                        <div class="col-md-6">{{ form_row(registrationForm.firstname) }}</div>
                        <div class="col-md-6">{{ form_row(registrationForm.telephone) }}</div>
                        <div class="col-md-6">{{ form_row(registrationForm.email) }}</div>

                        {{ form_row(registrationForm.Password, {
                            label: 'Password'
                            })
                        }}
                    </div>
                    <button type="submit" class="btn">Submit</button>
                {{ form_end(registrationForm) }}

            </div>
        </div>
    </section>

{% endblock %}
