{%  block header %}
<header class="bgHeader">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-around " id="navbarNavAltMarkup">
                <div class=" navbar-nav w-50" id="navLeft">
                    <a class="nav-link active  col-2 d-flex justify-content-center align-items-center colorTextHeader" aria-current="page" href="{{ path('app_home') }}">Home</a>
                    <a class="nav-link active col-3 d-flex justify-content-center align-items-center colorTextHeader" href="#">A propos</a>
                    <img src="{{ asset("build/images/logo/phoenixLogo2.png") }}" width="auto" height="100">
                    <a class="nav-link active col-3 d-flex justify-content-center align-items-center colorTextHeader" href="#">Destination</a>
                    <a class="nav-link col-2 d-flex justify-content-center align-items-center colorTextHeader" href="#">Contact</a>
                </div>
                <div class="nav-link-primary d-flex justify-content-around colorTextHeader" id="navRight">
{#                    <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>#}
{#                    <a class="nav-link" href="{{ path('app_login') }}"><img src="{{ asset("build/images/Icon/utilisateur1.png") }}" width="auto" height="30">  connexion</a>#}

                    {% if app.user %}
                        <a class="nav-link" href="{{ path('app_account')}}"><img src="{{ asset("build/images/Icon/utilisateur1.png") }}" width="auto" height="30">   {{ app.user.lastname }}</a> | <a class="nav-link" href="{{ path('app_logout') }}">deconnexion</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('app_login') }}"><img src="{{ asset("build/images/Icon/utilisateur1.png") }}" width="auto" height="30">connexion</a> | <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>

                    {% endif %}

                </div>


            </div>
        </div>
    </nav>
</header>


{%  endblock %}